.accordion-caret .accordion-toggle:hover {
  text-decoration: none;
}
.accordion-caret .accordion-toggle {
  text-decoration: none;
}

.accordion-caret .accordion-toggle:before {
  font-size: 25px;
  vertical-align: -3px;
}
.accordion-caret .accordion-toggle:not(.collapsed):before {
  content: "▾";
  margin-right: 20px;
}
.accordion-caret .accordion-toggle.collapsed:before {
  content: "▸";
  margin-right: 20px;
}

.btn .glyphicon {
  margin-right: 10px;
}

.logo {
  margin-right: 15px;
  vertical-align: -15px;
}